@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Righteous&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gowun Dodum', sans-serif;
}

#slideShow{
  background: url("../Images/handmade.jpg") no-repeat;
  background-size: cover;
  width: 1024px;
  height: 650px;
  margin: 0 auto;
  position: relative;
}
h2{
  color: rgb(243, 237, 237);
  font-size: 65px;
  text-shadow: 1px 2px 0 #000;
  position: absolute;
  left: 500px;
  top: 150px;
}
p{
  color: rgb(209, 197, 197);
  font-size: 23px;
  font-weight: 300px;
  text-shadow: 1px 1px 0 rgb(24, 22, 22) ;
  position: absolute;
  left: 500px;
  top: 270px;
}